.forgot {
    height: 100vh;
    background: url(../imgs/backgroundSectionRegister.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*   Botão Voltar   */

.register-box-back {
    position: absolute;
    top: 0;
    left: 0;

}

.register-box-back p {
    color: #8B0000;
    text-align: center;
    font-size: 1.25em;
    transform: rotate(14deg);
    cursor: pointer;
}


/* Mobile */

@media screen and (max-width: 600px) {
    .register-box-back {
        background: url(../imgs/backSign.png) center/cover no-repeat;
        width: 105px;
        height: 110px;
        transform: translate(-25%, -100%);
    }

    .register-box-back p {
        padding: 21px 0 0 10px;
    }
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .register-box-back {
        background: url(../imgs/backSign.png) center/cover no-repeat;
        width: 105px;
        height: 110px;
        transform: translate(0, -100%);
    }

    .register-box-back p {
        padding: 21px 0 0 10px;
    }
}

/* Desktop */

@media screen and (min-width: 1024px) {
    .register-box-back {
        background: url(../imgs/backSignCroped.png) center/cover no-repeat;
        width: 110px;
        height: 90px;
        transform: translate(0, -103%);
    }

    .register-box-back p {
        padding: 28px 0 0 10px;
    }
}


/*  Conteudo interno: labels, forms, botão, textos    */

.recover {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.recover p {
    color: #fff;
    font-size: 1.375em;
}

.form-email {
    display: flex;
    flex-direction: column;
}

.form-email label {
    color: #fff;
    padding: 0 0 10px 20px;
    font-size: 1.25em;
}

.input-wrapper {
    position: relative;
}

.form-email input {
    height: 50px;
    padding: 10px 30px;
    border-radius: 70px;
    font-size: 1.125em;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
}

.form-email input:focus {
    outline: none;
}

.form-email svg {
    font-size: 1.375em;
    top: 50%;
    left: 0%;
    transform: translate(25%, -45%);
    background: none;
    border-radius: 10%;
    position: absolute;
}

.btn-recover {
    background-color: #8B4513;
    color: #fff;
    border-radius: 15px;
    width: 125px;
    border: none;
    height: 50px;
    font-size: 1.375em;
    cursor: pointer;
    align-self: center;
    position: absolute;
    bottom: 5%;
}

.btn-recover:active {
    background-color: #814114 !important;
    color: #e0e0e0 !important;
    border: none;
}

.error-message {
    color: red !important;
    font-size: 1em !important;
    position: absolute;
}



/* Mobile */

@media screen and (max-width: 600px) {
    .recover {
        gap: 40px;
    }

    .form-email input {
        width: 100%;
    }
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .recover {
        gap: 60px;
    }

    .form-email input {
        width: 90%;
    }
}

/* Desktop */

@media screen and (min-width: 1024px) {
    .recover {
        gap: 80px;
    }

    .form-email input {
        width: 80%;
    }
}

/*   "Caixa" do conteúdo   */

.container-recover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box {
    height: 554px;
    width: 740px;
    border: 3px solid #000;
    border-radius: 10px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .8);
    position: relative;
    background-color: #252121;
}

.register-box-title {
    background-color: #8b4513;
    border-radius: 64px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.thunderSvg {
    background: none;
    margin: 0 10px;
    transform: scaleX(-1) rotate(7deg);
}

.thunderSvg:last-child {
    transform: rotate(7deg);
}



/* Mobile */

@media screen and (max-width: 600px) {
    .container {
        padding: 0 40px;
    }

    .register-box {
        padding: 40px;
    }

    .register-box-title {
        font-size: 2em;
        width: 250px;
        top: -4%
    }
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .container {
        padding: 0 80px;
    }

    .register-box {
        padding: 80px;
    }

    .register-box-title {
        font-size: 2.25em;
        width: 275px;
        top: -4%
    }

}

/* Desktop */

@media screen and (min-width: 1024px) {
    .register-box {
        padding: 80px;
    }

    .register-box-title {
        font-size: 2.5em;
        width: 350px;
        top: -5%;
    }
}